<ul class="w-full flex justify-start items-center gap-2" role="list">
  <li class="product__payment__item">
    {{ 'icon-visa.svg' | inline_asset_content }}
  </li>
  <li class="product__payment__item">
    {{ 'icon-mastercard.svg' | inline_asset_content }}
  </li>
  <li class="product__payment__item">
    {{ 'icon-amex.svg' | inline_asset_content }}
  </li>
  <li class="product__payment__item">
    {{ 'icon-paypal.svg' | inline_asset_content }}
  </li>
  <li class="product__payment__item">
    {{ 'icon-somepayment.svg' | inline_asset_content }}
  </li>
  <li class="product__payment__item">
    {{ 'icon-discover.svg' | inline_asset_content }}
  </li>
</ul>
