{%- if settings.facebook != blank -%}
  <a href="{{ settings.facebook }}">
    {{ 'icon-facebook.svg' | inline_asset_content }}
  </a>
{%- endif -%}
{%- if settings.instagram != blank -%}
  <a href="{{ settings.instagram }}">
    {{ 'icon-instagram.svg' | inline_asset_content }}
  </a>
{%- endif -%}
{%- if settings.linkedin != blank -%}
  <a href="{{ settings.linkedin }}">
    {{ 'icon-linkedin.svg' | inline_asset_content }}
  </a>
{%- endif -%}
{%- if settings.pinterrest != blank -%}
  <a href="{{ settings.pinterrest }}">
    {{ 'icon-pinterrest.svg' | inline_asset_content }}
  </a>
{%- endif -%}
{%- if settings.snapchat != blank -%}
  <a href="{{ settings.snapchat }}">
    {{ 'icon-snapchat.svg' | inline_asset_content }}
  </a>
{%- endif -%}
{%- if settings.tiktok != blank -%}
  <a href="{{ settings.tiktok }}">
    {{ 'icon-tiktok.svg' | inline_asset_content }}
  </a>
{%- endif -%}
{%- if settings.tumblr != blank -%}
  <a href="{{ settings.tumblr }}">
    {{ 'icon-tumblr.svg' | inline_asset_content }}
  </a>
{%- endif -%}
{%- if settings.twitter != blank -%}
  <a href="{{ settings.twitter }}">
    {{ 'icon-twitter.svg' | inline_asset_content }}
  </a>
{%- endif -%}
{%- if settings.youtube != blank -%}
  <a href="{{ settings.youtube }}">
    {{ 'icon-youtube.svg' | inline_asset_content }}
  </a>
{%- endif -%}
