<section class="w-full h-fit py-10 bg-gray-100 lg:py-24 {{ extraClass }}">
  <div class="container flex flex-col justify-center items-center">
    <h1 class="text-xl font-semibold sm:text-3xl md:text-4xl lg:text-5xl">{{ title }}</h1>
    <div class="flex justify-center items-center gap-2">
      <a href="{{ url }}">{{ breadcrumbsOne }}</a>
      <span class="w-2 h-2 block bg-gray-300 rounded-full"></span>
      <h5>{{ breadcrumbsTwo }}</h5>
    </div>
  </div>
</section>
