{% comment %}
  This is the product card.
  Accept: productCardWidth: by default put at 280px,  productIMage,  productTitle, productPrice, productPriceComparison, productHandle, productVariantId, productButtonText, sold, variants
{% endcomment %}

<div class="relative productCard {{ productCardWidth }} shrink-0 snap-center pb-7 rounded-2xl">
  <div class="flex flex-col justify-center items-center gap-2">
    {{ productIMage }}
    <div class="w-full flex justify-center flex-col items-center gap-2">
      <p class="text-lg font-normal text-gray-700">{{ productTitle | truncate: 25, '...' }}</p>
      <div class="flex justify-center items-center gap-3 w-full">
        <p class="text-base font-bold text-gray-950">{{ productPrice | money }}</p>
        {%- if productPriceComparison != blank -%}
          <p class="text-base font-bold text-red-500 line-through">{{ productPriceComparison | money }}</p>
        {%- endif -%}
      </div>
      <button
        data-variant-id="{{ productVariantId }}"
        data-handle="{{ productHandle }}"
        id="add-to-cart-btn"
        class="text-base  font-normal bg-black text-white py-3 px-10 rounded-full cursor-pointer"
      >
        {{ productButtonText }}
      </button>
      <!-- show if product is sold -->
      {% if sold == false %}
        <span class="w-fit bg-red-600 text-white py-1 px-6 rounded-sm absolute top-3 right-3">Sold</span>
      {% endif %}
    </div>
  </div>
  {% # hidden icon card %}
  <span>
    {% render 'show-icon-card' %}
  </span>
</div>
{% # Render hidden quick view product card %}
<section id="quick-view-modal">
  <!-- Quic view modal go here with help of javascript -->
</section>
