<section class="announcement px-4" id="announcement">
  <div class="container lg:flex lg:justify-between lg:items-center">
    <div class="hidden lg:flex lg:justify-center lg:items-center lg:gap-3">
      {% render 'icon-socials' %}
    </div>
    <div>
      <a
        href="{{ section.blocks.first.settings.announcement_title_url }}"
        class="text-sm font-normal text-center block announcement_title"
      >
        {{ section.blocks.first.settings.announcement_title }}
      </a>
    </div>
    <div
      class="hidden lg:text-base lg:flex lg:justify-center lg:items-center lg:gap-3 lg:w"
    >
      <div class="lg:w-24">
        <select class=" w-full announcement_bar_lang focus:outline-none cursor-pointer" name="language" id="lang">
          <option class="custom-option" value="english">English</option>
          <option class="custom-option" value="french">French</option>
          <option class="custom-option" value="spanish">Spanish</option>
          <option class="custom-option" value="german">German</option>
        </select>
      </div>
      <div class="lg:w-24 ">
        <select class="announcement_bar_currency focus:outline-none cursor-pointer" name="money" id="money">
          <option class="custom-option" value="us">US Dollars $</option>
          <option class="custom-option" value="cz">Czechia CZK kc</option>
          <option class="custom-option" value="Eu">Euro €</option>
        </select>
      </div>
    </div>
  </div>
</section>

{% style %}
  .announcement{
    background-color: {{ section.settings.announcement_bar_background }};
    color: {{ section.settings.announcement_bar_color }};
    padding-top: {{ section.settings.announcement_bar_padding_top }}px;
    padding-bottom: {{ section.settings.announcement_bar_padding_bottom }}px;
  }
  .announcement_title, .announcement_bar_lang, .announcement_bar_currency{
    font-size: {{ section.settings.announcement_title_size }}px;
  }
  /* Css for the option inside the select */
  .custom-option {
    color: {{ section.settings.langAndCurrencySelectorTextColor }};
    background-color: {{ section.settings.langAndCurrencySelectorBgColor }};
  }
{% endstyle %}

<!-- Announcement bar -->

{% schema %}
{
  "name": "Announcement bar",
  "class": "announcement_bar",
  "tag": "section",
  "enabled_on": { "groups": ["header"] },
  "limit": 1,
  "settings": [
    {
      "type": "header",
      "content": "Background and text color"
    },
    {
      "type": "range",
      "id": "announcement_title_size",
      "min": 8,
      "max": 16,
      "step": 1,
      "label": "Announcement title size",
      "unit": "px",
      "default": 12,
      "info": "Choose the size for the announcement title"
    },
    {
      "type": "color",
      "id": "announcement_bar_background",
      "label": "Background color",
      "default": "#000000",
      "info": "Add the background color"
    },
    {
      "type": "color",
      "id": "announcement_bar_color",
      "label": "Text Color",
      "default": "#ffffff",
      "info": "Add the color text"
    },
    {
      "type": "header",
      "content": "Spacing top and bottom"
    },
    {
      "type": "range",
      "id": "announcement_bar_padding_top",
      "min": 5,
      "max": 20,
      "step": 1,
      "label": "Padding top",
      "unit": "px",
      "default": 12,
      "info": "Padding top"
    },
    {
      "type": "range",
      "id": "announcement_bar_padding_bottom",
      "min": 5,
      "max": 20,
      "step": 1,
      "label": "Padding bottom",
      "unit": "px",
      "default": 12,
      "info": "Padding bottom"
    },
    {
      "type": "header",
      "content": "Color inside the Language and currency selector"
    },
    {
      "type": "color",
      "id": "langAndCurrencySelectorBgColor",
      "label": "Background color",
      "default": "#000000",
      "info": "This add color in the background of the language and currency selector"
    },
    {
      "type": "color",
      "id": "langAndCurrencySelectorTextColor",
      "label": "Option color",
      "default": "#ffffff",
      "info": "This add the text color in the of the language and currency selector"
    }
  ],
  "blocks": [
    {
      "name": "Announcement",
      "type": "announcement",
      "limit": 1,
      "settings": [
        {
          "type": "header",
          "content": "Announcement title"
        },
        {
          "type": "text",
          "id": "announcement_title",
          "label": "Announcement title",
          "default": "Welcome to our website",
          "info": "Announce something amazing"
        },
        {
          "type": "url",
          "id": "announcement_title_url",
          "label": "Announcement URL",
          "info": "Add a URL"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Announcement bar",
      "settings": {
        "announcement_bar_background": "#000000",
        "announcement_bar_color": "#ffffff",
        "announcement_bar_padding_top": 10,
        "announcement_bar_padding_bottom": 10,
        "langAndCurrencySelectorBgColor": "#000000",
        "langAndCurrencySelectorTextColor": "#ffffff"
      },
      "blocks": [
        {
          "type": "announcement"
        }
      ]
    }
  ]
}
{% endschema %}
