<section class="w-full h-full {{ section.settings.blog_paddingY_small }} {{ section.settings.blog_paddingY_large }}">
  <div class="container flex flex-col justify-center items-center gap-28">
    <div class="w-full flex flex-col justify-center items-center gap-2">
      <h2 class="text-2xl lg:text-4xl font-semibold text-center">{{ section.settings.blog_heading }}</h2>
      <p class="text-base font-normal texblog_button_bg_colort-center">{{ section.settings.blog_paragraph }}</p>
    </div>
    <div class="w-full flex flex-col justify-center items-start gap-10">
      <!-- Loop here -->
      {% if blog.articles.size > 0 %}
        {% paginate blog.articles by section.settings.blog_posts_count %}
          <div class="w-full grid grid-cols-1 gap-3.5 sm:grid-cols-2 lg:grid-cols-3 lg:gap-8">
            {% for blog in blog.articles %}
              <div class="shadow h-fit rounded-md w-full mx-auto sm:w-full sm:mx-0">
                <!-- image -->
                <div class="w-full h-[300px] rounded-md">
                  {% if blog.image != blank %}
                    {{
                      blog.image
                      | image_url: width: 1000
                      | image_tag: class: 'w-full h-full object-cover rounded-md'
                    }}
                  {% else %}
                    {{ 'product-1' | placeholder_svg_tag: 'w-full h-full object-cover' }}
                  {% endif %}
                </div>
                <!-- Texts -->
                <div class="w-full flex flex-col justify-center items-center gap-3.5 px-4 py-4">
                  <!-- data -->
                  <div class="w-full flex justify-start items-center gap-2">
                    <span class="block w-4">
                      {{ 'icon-calendar.svg' | inline_asset_content }}
                    </span>
                    <span class="block text-base text-gray-500 font-normal">{{ blog.published_at | date }}</span>
                  </div>
                  <!-- Title and button -->
                  <div class="w-full flex flex-col justify-start items-start gap-3.5">
                    <h4 class="text-xl font-semibold">{{ blog.title }}</h4>
                    <a
                      style="background-color: {{ section.settings.blog_button_bg_color }}; color:{{ section.settings.blog_button_text_color }}"
                      href="{{ blog.url }}"
                      class="px-3 py-3 border rounded-md block w-fit cursor-pointer"
                    >
                      {{- section.settings.blog_button_text -}}
                    </a>
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
          <div class="paginateDEFAULT w-full flex justify-center items-center gap-5">
            {{- paginate | default_pagination -}}
          </div>
        {% endpaginate %}
      {% elsif section.settings.blog_select_blog_for_home_page_only.articles_count > 0 %}
        <div class="w-full grid grid-cols-1 gap-3.5 sm:grid-cols-2 lg:grid-cols-3 lg:gap-8">
          {% for blog in section.settings.blog_select_blog_for_home_page_only.articles limit: 3 %}
            <div class="shadow h-fit rounded-md w-full mx-auto sm:w-full sm:mx-0">
              <!-- image -->
              <div class="w-full h-[300px] rounded-md">
                {% if blog.image != blank %}
                  {{ blog.image | image_url: width: 1000 | image_tag: class: 'w-full h-full object-cover rounded-md' }}
                {% else %}
                  {{ 'product-1' | placeholder_svg_tag: 'w-full h-full object-cover' }}
                {% endif %}
              </div>
              <!-- Texts -->
              <div class="w-full flex flex-col justify-center items-center gap-3.5 px-4 py-4">
                <!-- data -->
                <div class="w-full flex justify-start items-center gap-2">
                  <span class="block w-4">
                    {{ 'icon-calendar.svg' | inline_asset_content }}
                  </span>
                  <span class="block text-base text-gray-500 font-normal">{{ blog.published_at | date }}</span>
                </div>
                <!-- Title and button -->
                <div class="w-full flex flex-col justify-start items-start gap-3.5">
                  <h4 class="text-xl font-semibold">{{ blog.title }}</h4>
                  <a
                    style="background-color: {{ section.settings.blog_button_bg_color }}; color:{{ section.settings.blog_button_text_color }}"
                    href="{{ blog.url }}"
                    class="px-3 py-3 border rounded-md block w-fit cursor-pointer"
                  >
                    {{- section.settings.blog_button_text -}}
                  </a>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>

      {%- else -%}
        <div class="w-full grid grid-cols-1 gap-3.5 sm:grid-cols-2 lg:grid-cols-3 lg:gap-8">
          {%- for item in (1..3) -%}
            <div class="border h-fit rounded-md w-72 mx-auto sm:w-full sm:mx-0">
              <!-- image -->
              <div class="w-full">
                {{ 'product-1' | placeholder_svg_tag: 'w-full h-full object-cover' }}
              </div>
              <!-- Texts -->
              <div class="w-full flex flex-col justify-center items-center gap-3.5 px-4 py-4">
                <!-- data -->
                <div class="w-full flex justify-start items-center gap-2">
                  <span class="block w-4">
                    {{ 'icon-calendar.svg' | inline_asset_content }}
                  </span>
                  <span class="block text-base text-gray-500 font-normal">Mar 30, 2025</span>
                </div>
                <!-- Title and button -->
                <div class="w-full flex flex-col justify-start items-start gap-3.5">
                  <h4 class="text-xl font-semibold">A guide to cultivating inner peace or inner harmony</h4>
                  <a href="#" class="px-3 py-3 border rounded-md block w-fit cursor-pointer">Read More</a>
                </div>
              </div>
            </div>
          {%- endfor -%}
        </div>
      {% endif %}
    </div>
  </div>
</section>
<style>
  .current {
    background: red;
    width: auto;
    padding: 3px 10px;
    border-radius: 5px;
    color: white;
  }
</style>

{% schema %}
{
  "name": "Blog",
  "class": "blog",
  "settings": [
    {
      "type": "header",
      "content": "Select blog if you are in home page",
      "info": "Use this setting, only if you want to display blog posts in your home page or other page except the blog page"
    },
    {
      "type": "blog",
      "id": "blog_select_blog_for_home_page_only",
      "label": "Select blog"
    },
    {
      "type": "header",
      "content": "Padding top and bottom on small and large screen"
    },
    {
      "type": "select",
      "id": "blog_paddingY_small",
      "label": "Padding top and bottom on small screen",
      "options": [
        {
          "label": "4px",
          "value": "py-1"
        },
        {
          "label": "8px",
          "value": "py-2"
        },
        {
          "label": "12px",
          "value": "py-3"
        },
        {
          "label": "16px",
          "value": "py-4"
        },
        {
          "label": "20px",
          "value": "py-5"
        },
        {
          "label": "24px",
          "value": "py-6"
        },
        {
          "label": "28px",
          "value": "py-7"
        },
        {
          "label": "32px",
          "value": "py-8"
        },
        {
          "label": "32px",
          "value": "py-9"
        },
        {
          "label": "36px",
          "value": "py-10"
        },
        {
          "label": "40px",
          "value": "py-11"
        },
        {
          "label": "44px",
          "value": "py-12"
        }
      ],
      "default": "py-12"
    },
    {
      "type": "header",
      "content": "Pagination",
      "info": "Number of posts per page"
    },
    {
      "type": "number",
      "id": "blog_posts_count",
      "label": "Number of posts per page",
      "default": 12
    },
    {
      "type": "select",
      "id": "blog_paddingY_large",
      "label": "Padding top and bottom on Large screen",
      "options": [
        {
          "label": "44px",
          "value": "lg:py-12"
        },
        {
          "label": "56px",
          "value": "lg:py-14"
        },
        {
          "label": "64px",
          "value": "lg:py-16"
        },
        {
          "label": "80px",
          "value": "lg:py-20"
        },
        {
          "label": "96px",
          "value": "lg:py-24"
        }
      ],
      "default": "lg:py-24"
    },
    {
      "type": "header",
      "content": "Title and paragraph"
    },
    {
      "type": "text",
      "id": "blog_heading",
      "label": "Heading Title",
      "placeholder": "Enter your tex here",
      "default": "Write something amazing here"
    },
    {
      "type": "inline_richtext",
      "id": "blog_paragraph",
      "label": "Heading Title",
      "default": "Lorem ipsum dolor sit amet consectetur adipiscing elit potenti vel, id fringilla ridiculus"
    },
    {
      "type": "header",
      "content": "Button"
    },
    {
      "type": "color",
      "id": "blog_button_bg_color",
      "label": "Background color",
      "default": "#000000"
    },
    {
      "type": "color",
      "id": "blog_button_text_color",
      "label": "Text color",
      "default": "#ffffff"
    },
    {
      "type": "text",
      "id": "blog_button_text",
      "label": "Button Title",
      "placeholder": "Enter your text here",
      "default": "Read more"
    }
  ],
  "presets": [
    {
      "name": "Blog"
    }
  ]
}
{% endschema %}
