<footer
  style="background-color:{{ section.settings.footer_background_color }}"
  class="w-full h-fit {{ section.settings.footer_padding_top_bottom_small_screen }} {{ section.settings.footer_padding_top_bottom_large_screen }}"
>
  <div class="container flex flex-col justify-center items-center gap-10">
    <div class="w-full grid grid-cols-1 gap-6 md:grid md:grid-cols-4">
      {%- for block in section.blocks -%}
        {%- case block.type -%}
          {%- when 'contact_info' -%}
            <div
              class="w-full flex justify-center items-start flex-col gap-3 md:justify-start"
            >
              <div class="w-full flex justify-between items-center">
                <h6 class="text-2xl font-bold text-gray-950">
                  {{ block.settings.contact_info_title }}
                </h6>
                {% render 'icon-footer-menu-toggle' %}
              </div>
              <div
                class="justify-center hidden duration-700 ease-in-out items-start flex-col gap-3 displayFooterContent md:flex"
              >
                <span class="text-lg font-normal text-gray-950">
                  {{ block.settings.contact_info_description }}
                </span>
                <h6 class="text-lg font-bold text-gray-950">
                  {{ block.settings.contact_info_phone_title }}
                </h6>
                <span class="text-lg font-normal text-gray-950">
                  {{ block.settings.contact_info_phone_number }}
                </span>
                <h6 class="text-lg font-bold text-gray-950">{{ block.settings.contact_info_address_title }} :</h6>
                <span class="text-lg font-normal text-gray-950">
                  {{- block.settings.contact_info_address_description -}}
                </span>
              </div>
            </div>
          {%- when 'quick_links' -%}
            <div
              class="w-full flex justify-center items-start flex-col gap-3 md:justify-start"
            >
              <div class="w-full flex justify-between items-center">
                <h6 class="text-2xl font-bold text-gray-950">{{ block.settings.quick_links_title }}</h6>
                {% render 'icon-footer-menu-toggle' %}
              </div>
              <div
                class="justify-center hidden items-start flex-col gap-3 displayFooterContent md:flex"
              >
                {% render 'link-footer',
                  url: block.settings.quick_links_first_url,
                  text: block.settings.quick_links_first_text
                %}
                {% render 'link-footer',
                  url: block.settings.quick_links_second_url,
                  text: block.settings.quick_links_second_text
                %}
                {% render 'link-footer',
                  url: block.settings.quick_links_third_url,
                  text: block.settings.quick_links_third_text
                %}
                {% render 'link-footer',
                  url: block.settings.quick_links_fourth_url,
                  text: block.settings.quick_links_fourth_text
                %}
                {% render 'link-footer',
                  url: block.settings.quick_links_fifth_url,
                  text: block.settings.quick_links_fifth_text
                %}
                {% render 'link-footer',
                  url: block.settings.quick_links_sixth_url,
                  text: block.settings.quick_links_sixth_text
                %}
              </div>
            </div>
          {%- when 'information' -%}
            <div
              class="w-full flex justify-center items-start flex-col gap-3 md:justify-start"
            >
              <div class="w-full flex justify-between items-center">
                <h6 class="text-2xl font-bold text-gray-950">
                  {{ block.settings.information_title }}
                </h6>
                {% render 'icon-footer-menu-toggle' %}
              </div>
              <div
                class="justify-center hidden items-start flex-col gap-3 displayFooterContent md:flex"
              >
                {% render 'link-footer',
                  url: block.settings.information_first_url,
                  text: block.settings.information_first_text
                %}
                {% render 'link-footer',
                  url: block.settings.information_second_url,
                  text: block.settings.information_second_text
                %}
                {% render 'link-footer',
                  url: block.settings.information_third_url,
                  text: block.settings.information_third_text
                %}
                {% render 'link-footer',
                  url: block.settings.information_fourth_url,
                  text: block.settings.information_fourth_text
                %}
                {% render 'link-footer',
                  url: block.settings.information_fifth_url,
                  text: block.settings.information_fifth_text
                %}
                {% render 'link-footer',
                  url: block.settings.information_sixth_url,
                  text: block.settings.information_sixth_text
                %}
              </div>
            </div>
          {% when 'keep_in_touch' %}
            <div
              class="w-full flex justify-center items-start flex-col gap-3 md:justify-start"
            >
              <div class="w-full flex justify-between items-center">
                <h6 class="text-2xl font-bold text-gray-950">{{ block.settings.keep_in_touch_title }}</h6>
                {% render 'icon-footer-menu-toggle' %}
              </div>
              <div
                class="justify-center hidden items-start flex-col gap-3 displayFooterContent md:flex"
              >
                <span class="text-lg font-normal text-gray-950">{{ block.settings.keep_in_touch_description }}</span>
                <div class="flex justify-center items-start flex-col gap-3">
                  <input
                    class="border py-2 px-3 rounded-lg w-full"
                    type="email"
                    placeholder="Enter your email"
                  >
                  <button class="px-10 py-3 bg-black text-white rounded-full">
                    {{ block.settings.keep_in_touch_button_text }}
                  </button>
                </div>
              </div>
            </div>
        {%- endcase -%}
      {%- endfor -%}
    </div>
    <div
      class="w-full border-t border-gray-100 pt-10 flex justify-center items-start flex-col gap-3 sm:flex-row sm:justify-between"
    >
      <span
        >&copy;{{ 'now' | date: '%Y' }}
        {{ shop.name | upcase }}. All rights reserved.</span
      >
      <span>
        Build by
        <a href="https://kambatukebele.com/" class="underline text-black">Kamba Tukebele</a> <span>and</span>
        <a href="https://ezagrowllc.com/" class="underline text-black">Ezagrow LLC</a>
      </span>
    </div>
  </div>
</footer>

{% schema %}
{
  "name": "Footer",
  "class": "footer",
  "enabled_on": {
    "groups": ["footer"]
  },
  "settings": [
    {
      "type": "header",
      "content": "Footer color"
    },
    {
      "type": "color",
      "id": "footer_background_color",
      "label": "Footer background",
      "default": "#000000"
    },
    {
      "type": "select",
      "id": "footer_padding_top_bottom_small_screen",
      "label": "Footer padding top and bottom on small screen",
      "options": [
        {
          "label": "12px",
          "value": "py-3"
        },
        {
          "label": "16px",
          "value": "py-4"
        },
        {
          "label": "20px",
          "value": "py-5"
        },
        {
          "label": "24px",
          "value": "py-6"
        }
      ],
      "default": "py-6",
      "info": "These values apply only for the small screen"
    },
    {
      "type": "select",
      "id": "footer_padding_top_bottom_large_screen",
      "label": "Footer padding top and bottom on large screen",
      "options": [
        {
          "label": "28px",
          "value": "lg:py-7"
        },
        {
          "label": "32px",
          "value": "lg:py-8"
        },
        {
          "label": "36px",
          "value": "lg:py-9"
        },
        {
          "label": "40px",
          "value": "lg:py-10"
        },
        {
          "label": "44px",
          "value": "lg:py-12"
        }
      ],
      "default": "lg:py-12",
      "info": "These values apply only for the large screen"
    }
  ],
  "blocks": [
    {
      "name": "Contact info",
      "type": "contact_info",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "contact_info_title",
          "label": "Heading",
          "default": "Contact info"
        },
        {
          "type": "text",
          "id": "contact_info_description",
          "label": "Description",
          "default": "Find a locations nearest you"
        },
        {
          "type": "header",
          "content": "Phone number"
        },
        {
          "type": "text",
          "id": "contact_info_phone_title",
          "label": "Phone title",
          "default": "Hotline"
        },
        {
          "type": "text",
          "id": "contact_info_phone_number",
          "label": "Phone number",
          "default": "(+00) 123 456 789"
        },
        {
          "type": "header",
          "content": "Address"
        },
        {
          "type": "text",
          "id": "contact_info_address_title",
          "label": "Address title",
          "default": "Address"
        },
        {
          "type": "text",
          "id": "contact_info_address_description",
          "label": "Address description",
          "default": "512 Howard Street #19 San Francisco, CA 94103, USA"
        }
      ]
    },
    {
      "name": "Quick links",
      "type": "quick_links",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "quick_links_title",
          "label": "Heading",
          "default": "Quick links"
        },
        {
          "type": "text",
          "id": "quick_links_first_text",
          "label": "First Link text",
          "default": "My account"
        },
        {
          "type": "url",
          "id": "quick_links_first_url",
          "label": "First Link URL"
        },
        {
          "type": "text",
          "id": "quick_links_second_text",
          "label": "Second Link text",
          "default": "Cart"
        },
        {
          "type": "url",
          "id": "quick_links_second_url",
          "label": "Second Link URL"
        },
        {
          "type": "text",
          "id": "quick_links_third_text",
          "label": "Third Link text",
          "default": "Whishlist"
        },
        {
          "type": "url",
          "id": "quick_links_third_url",
          "label": "Third Link URL"
        },
        {
          "type": "text",
          "id": "quick_links_fourth_text",
          "label": "Four Link text",
          "default": "Product compare"
        },
        {
          "type": "url",
          "id": "quick_links_fourth_url",
          "label": "Four Link URL"
        },
        {
          "type": "text",
          "id": "quick_links_fifth_text",
          "label": "Fifth Link text",
          "default": "About us"
        },
        {
          "type": "url",
          "id": "quick_links_fifth_url",
          "label": "Fifth Link URL"
        },
        {
          "type": "text",
          "id": "quick_links_sixth_text",
          "label": "Sixth Link text",
          "default": "Contact us"
        },
        {
          "type": "url",
          "id": "quick_links_sixth_url",
          "label": "Sixth Link URL"
        }
      ]
    },
    {
      "name": "Information",
      "type": "information",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "information_title",
          "label": "Heading",
          "default": "Information"
        },
        {
          "type": "text",
          "id": "information_first_text",
          "label": "First Link text",
          "default": "Privacy policy"
        },
        {
          "type": "url",
          "id": "information_first_url",
          "label": "First Link URL"
        },
        {
          "type": "text",
          "id": "information_second_text",
          "label": "Second Link text",
          "default": "Refund Policy"
        },
        {
          "type": "url",
          "id": "information_second_url",
          "label": "Second Link URL"
        },
        {
          "type": "text",
          "id": "information_third_text",
          "label": "Third Link text",
          "default": "Return policy"
        },
        {
          "type": "url",
          "id": "information_third_url",
          "label": "Third Link URL"
        },
        {
          "type": "text",
          "id": "information_fourth_text",
          "label": "Four Link text",
          "default": "Shipping policy"
        },
        {
          "type": "url",
          "id": "information_fourth_url",
          "label": "Four Link URL"
        },
        {
          "type": "text",
          "id": "information_fifth_text",
          "label": "Fifth Link text",
          "default": "Terms & condition"
        },
        {
          "type": "url",
          "id": "information_fifth_url",
          "label": "Fifth Link URL"
        },
        {
          "type": "text",
          "id": "information_sixth_text",
          "label": "Fifth Link text",
          "default": "View catalogue"
        },
        {
          "type": "url",
          "id": "information_sixth_url",
          "label": "Fifth Link URL"
        }
      ]
    },
    {
      "name": "Keep in touch",
      "type": "keep_in_touch",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "keep_in_touch_title",
          "label": "Heading",
          "default": "Let's keep in touch"
        },
        {
          "type": "text",
          "id": "keep_in_touch_description",
          "label": "Description",
          "default": "Subscribe to our newsletter to receive updates"
        },
        {
          "type": "header",
          "content": "Button text"
        },
        {
          "type": "text",
          "id": "keep_in_touch_button_text",
          "label": "Button text",
          "default": "Subscribe"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Footer",
      "settings": {}
    }
  ]
}
{% endschema %}
