<!-- Header -->
<style>
  .grid-areas-layout {
    grid-template-areas: 'left center right';
  }
  .area-1 {
    grid-area: left;
  }
  .area-2 {
    grid-area: center;
  }
  .area-3 {
    grid-area: right;
  }
</style>
<section class="w-full h-full py-3 {% if section.settings.is_enable_header_bottom_border == true -%} border-b border-gray-200 {%- endif %} relative">
  <div class="container grid grid-rows-1 grid-areas-layout">
    <div class="area-1">
      <a class="w-36 block" href="#">
        {%- if settings.logo != blank -%}
          {{ settings.logo | image_url: width: 200 | image_tag }}
        {% else %}
          {{ shop.name }}
        {%- endif -%}
      </a>
    </div>
    {% render 'icon-menus' %}
    <!-- Menu -->
    <div
      id="menu"
      class="absolute area-2 bg-gray-100 h-screen duration-700 ease-in-out flex flex-col justify-start items-start gap-10 w-full top-[67px] -left-[1300px] overflow-hidden p-8 lg:static lg:h-0 lg:flex-row lg:items-center lg:top-0 lg:py-5 lg:px-0 lg:justify-center lg:bg-transparent lg:order-none"
    >
      <ul
        class="flex flex-col justify-start items-start gap-3 lg:flex-row lg:gap-8"
      >
        {%- for main-menu in section.settings.menu.links -%}
          <li
            style="color:{{ section.settings.menu_text_color }}"
            class="text-base font-normal {{ section.settings.menu_text_transform }}"
          >
            <a href="{{ main-menu.url }}">{{ main-menu.title }}</a>
          </li>
        {%- endfor -%}
      </ul>
    </div>
    <!-- Icons -->
    <div
      class="flex justify-end area-3 items-center gap-3 lg:gap-5"
    >
      <span id="searchIcon" class="hidden lg:block lg:w-7 lg:h-7">
        {{ 'icon-search.svg' | inline_asset_content }}
      </span>
      <span class="hidden lg:block lg:w-7 lg:h-7">{{ 'icon-heart.svg' | inline_asset_content }} </span>
      <span class="hidden lg:block lg:w-7 lg:h-7">
        {{ 'icon-user.svg' | inline_asset_content }}
      </span>
      <span id="cartIcon" class="relative cursor-pointer block w-7 h-7">
        {{ 'icon-cart.svg' | inline_asset_content }}
        <small class="absolute  -top-2 -right-1 text-base">0</small>
      </span>
    </div>
  </div>
  <!-- Search bar -->
  <div
    id="search"
    class="hidden lg:w-full lg:h-[300px] lg:fixed lg:-top-96 lg:duration-700 lg:ease-in-out lg:overflow-hidden lg:left-0 lg:right-0 lg:flex lg:justify-center lg:items-center lg:gap-3 lg:bg-gray-50 lg:z-10"
  >
    <div
      class="lg:flex lg:justify-center lg:items-center lg:gap-3 lg:border lg:border-gray-200 lg:rounded-lg lg:px-4 lg:py-2 lg:bg-gray-50"
    >
      <span>
        <input type="Search" placeholder="Search our store">
      </span>
      <span>
        {{ 'icon-search.svg' | inline_asset_content }}
      </span>
    </div>
    <span id="closeSearch" class="block w-7 h-7">
      {{ 'icon-close.svg' | inline_asset_content }}
    </span>
  </div>
</section>
<!-- End Header -->

{% schema %}
{
  "name": "Header",
  "class": "header",
  "enabled_on": { "groups": ["header"] },
  "tag": "header",
  "limit": 1,
  "settings": [
    {
      "type": "header",
      "content": "Menu"
    },
    {
      "type": "link_list",
      "id": "menu",
      "label": "Menu",
      "info": "Choose menu for your header"
    },
    {
      "type": "color",
      "id": "menu_text_color",
      "label": "Menu text color",
      "default": "#000000"
    },
    {
      "type": "select",
      "id": "menu_text_transform",
      "label": "Menu text transform",
      "options": [
        {
          "label": "Normal",
          "value": "normal-case"
        },
        {
          "label": "Uppercase",
          "value": "uppercase"
        },
        {
          "label": "Capitalize",
          "value": "capitalize"
        }
      ],
      "default": "normal-case",
      "info": "Select the case for the text menu"
    },
    {
      "type": "checkbox",
      "id": "is_enable_header_bottom_border",
      "label": "Enable bottom header border",
      "default": true
    }
  ],
  "presets": [
    {
      "name": "Header",
      "settings": {
        "is_enable_header_bottom_border": true,
        "menu_text_color": "#ffffff",
        "menu_text_transform": "uppercase"
      }
    }
  ]
}
{% endschema %}
