<section class="w-full h-full {{ section.settings.latest_blog_paddingY_small }} {{ section.settings.latest_blog_paddingY_large }}">
  <div class="container flex flex-col justify-center items-center gap-28">
    <div class="w-full flex flex-col justify-center items-center gap-2">
      <h2 class="text-2xl lg:text-4xl font-semibold text-center">{{ section.settings.latest_blog_heading }}</h2>
      <p class="text-base font-normal text-center">{{ section.settings.latest_blog_paragraph }}</p>
    </div>
    <div class="w-full grid grid-cols-1 gap-3.5 sm:grid-cols-2 md:grid-cols-3 lg:gap-10">
      <!-- Loop here -->
      {%- for item in (1..3) -%}
        <div class="border h-fit rounded-md w-72 mx-auto sm:w-full sm:mx-0">
          <!-- image -->
          <div class="w-full">
            {{ 'product-1' | placeholder_svg_tag: 'w-full h-full object-cover' }}
          </div>
          <!-- Texts -->
          <div class="w-full flex flex-col justify-center items-center gap-3.5 px-4 py-4">
            <!-- data -->
            <div class="w-full flex justify-start items-center gap-2">
              <span class="block w-4">
                {{ 'icon-calendar.svg' | inline_asset_content }}
              </span>
              <span class="block text-base text-gray-500 font-normal">Mar 30, 2025</span>
            </div>
            <!-- Title and button -->
            <div class="w-full flex flex-col justify-start items-start gap-3.5">
              <h4 class="text-xl font-semibold">A guide to cultivating inner peace or inner harmony</h4>
              <a class="px-3 py-3 border rounded-md block w-fit">Read More</a>
            </div>
          </div>
        </div>
      {%- endfor -%}
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Latest Blog",
  "class": "latest_blog",
  "settings": [
    {
      "type": "header",
      "content": "Padding top and bottom on small and large screen"
    },
    {
      "type": "select",
      "id": "latest_blog_paddingY_small",
      "label": "Padding top and bottom on small screen",
      "options": [
        {
          "label": "4px",
          "value": "py-1"
        },
        {
          "label": "8px",
          "value": "py-2"
        },
        {
          "label": "12px",
          "value": "py-3"
        },
        {
          "label": "16px",
          "value": "py-4"
        },
        {
          "label": "20px",
          "value": "py-5"
        },
        {
          "label": "24px",
          "value": "py-6"
        },
        {
          "label": "28px",
          "value": "py-7"
        },
        {
          "label": "32px",
          "value": "py-8"
        },
        {
          "label": "32px",
          "value": "py-9"
        },
        {
          "label": "36px",
          "value": "py-10"
        },
        {
          "label": "40px",
          "value": "py-11"
        },
        {
          "label": "44px",
          "value": "py-12"
        }
      ],
      "default": "py-12"
    },
    {
      "type": "select",
      "id": "latest_blog_paddingY_large",
      "label": "Padding top and bottom on Large screen",
      "options": [
        {
          "label": "44px",
          "value": "lg:py-12"
        },
        {
          "label": "56px",
          "value": "lg:py-14"
        },
        {
          "label": "64px",
          "value": "lg:py-16"
        },
        {
          "label": "80px",
          "value": "lg:py-20"
        },
        {
          "label": "96px",
          "value": "lg:py-24"
        }
      ],
      "default": "lg:py-24"
    },
    {
      "type": "header",
      "content": "Title and paragraph"
    },
    {
      "type": "text",
      "id": "latest_blog_heading",
      "label": "Heading Title",
      "placeholder": "Enter your tex here",
      "default": "Write something amazing here"
    },
    {
      "type": "inline_richtext",
      "id": "latest_blog_paragraph",
      "label": "Heading Title",
      "default": "Lorem ipsum dolor sit amet consectetur adipiscing elit potenti vel, id fringilla ridiculus"
    }
  ],
  "blocks": [],
  "presets": [
    {
      "name": "Latest Blog"
    }
  ]
}
{% endschema %}
