<section class="wrapper">
  {%- if section.blocks.size > 0 -%}
    {%- for element in section.blocks -%}
      {%- case element.type -%}
        {%- when 'scrolling_element' -%}
          <div class="item item{{- forloop.index }} text-2xl {{- element.shopify_attributes -}} font-semibold lg:text-4xl">
            {{ element.settings.scrolling_element_text }}
          </div>
        {%- else -%}
      {%- endcase -%}
    {%- endfor -%}
  {%- else -%}
    <div class="item item1 text-2xl font-semibold lg:text-4xl">Best Selling Items!</div>
    <div class="item item2 text-2xl font-semibold lg:text-4xl">Limited Offer Sales!</div>
    <div class="item item3 text-2xl font-semibold lg:text-4xl">Hot Deal Products!</div>
    <div class="item item4 text-2xl font-semibold lg:text-4xl">Spring Collections!</div>
    <div class="item item5 text-2xl font-semibold lg:text-4xl">Best Selling Items!</div>
    <div class="item item6 text-2xl font-semibold lg:text-4xl">Limited Offer Sales!</div>
    <div class="item item7 text-2xl font-semibold lg:text-4xl">Hot Deal Products!</div>
    <div class="item item8 text-2xl font-semibold lg:text-4xl">Spring Collections!</div>
  {%- endif -%}
</section>
<style>
  .wrapper {
    width: 100%;
    margin-inline: auto;
    position: relative;
    height: 150px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
     background-color: {{ section.settings.text_scrolling_background_color }};
     color: {{ section.settings.text_scrolling_text_color }};
  }
  @keyframes scrollLeft {
    to {
      left: -400px;
    }
  }
  .item {
    position: absolute;
   width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    left: max(calc(400px * 8), 100%);
    animation-name: scrollLeft;
    animation-duration: {{- section.settings.text_scrolling_animation_duration -}}s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
  .item1 {
    animation-delay: calc({{- section.settings.text_scrolling_animation_duration -}}s / 8 * (8 - 1) * -1);
  }
  .item2 {
    animation-delay: calc({{- section.settings.text_scrolling_animation_duration -}}s / 8 * (8 - 2) * -1);
  }
  .item3 {
    animation-delay: calc({{- section.settings.text_scrolling_animation_duration -}}s / 8 * (8 - 3) * -1);
  }
  .item4 {
    animation-delay: calc({{- section.settings.text_scrolling_animation_duration -}}s / 8 * (8 - 4) * -1);
  }
  .item5 {
    animation-delay: calc({{- section.settings.text_scrolling_animation_duration -}}s / 8 * (8 - 5) * -1);
  }
  .item6 {
    animation-delay: calc({{- section.settings.text_scrolling_animation_duration -}}s / 8 * (8 - 6) * -1);
  }
  .item7 {
    animation-delay: calc({{- section.settings.text_scrolling_animation_duration -}}s / 8 * (8 - 7) * -1);
  }
  .item8 {
    animation-delay: calc({{- section.settings.text_scrolling_animation_duration -}}s / 8 * (8 - 8) * -1);
  }
</style>

{% schema %}
{
  "name": "Texts scrolling",
  "class": "texts_scrolling",
  "settings": [
    {
      "type": "header",
      "content": "Background color"
    },
    {
      "type": "color",
      "id": "text_scrolling_background_color",
      "label": "Background color",
      "default": "#ffffff"
    },
    {
      "type": "color",
      "id": "text_scrolling_text_color",
      "label": "Text color",
      "default": "#000000"
    },
    {
      "type": "header",
      "content": "Animation"
    },
    {
      "type": "range",
      "id": "text_scrolling_animation_duration",
      "label": "Animation duration",
      "min": 30,
      "max": 100,
      "unit": "s",
      "step": 1,
      "default": 50
    }
  ],
  "blocks": [
    {
      "name": "Scrolling element",
      "type": "scrolling_element",
      "limit": 8,
      "settings": [
        {
          "type": "header",
          "content": "Text"
        },
        {
          "type": "text",
          "id": "scrolling_element_text",
          "label": "Text",
          "default": "Write something here",
          "placeholder": "Your goes here"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Texts Scrolling",
      "settings": {
        "text_scrolling_background_color": "#ffffff",
        "text_scrolling_text_color": "#000000",
        "text_scrolling_animation_duration": 50
      },
      "blocks": [
        {
          "type": "scrolling_element"
        }
      ]
    }
  ]
}
{% endschema %}
